@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Britanica-HeavySemiExpanded';
    src: url('/fonts/britanica-heavy-semi-expanded.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Actay';
    src: url('/fonts/Actay-Regular.otf');
    font-display: swap;
}

html {
    user-select: none;
}

body {
    font-family: 'Britanica-HeavySemiExpanded', sans-serif;
    overflow: hidden;

    -webkit-overflow: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */


    -webkit-font-smoothing: antialiased;
    /* Improves font rendering on Safari */
    -moz-osx-font-smoothing: grayscale;
    /* Improves font rendering on Firefox (macOS) */
}

.title-top {
    color: #FFF;
    font-family: 'Britanica-HeavySemiExpanded', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Line trim and text edge are experimental and might not be supported in all browsers */
    /* leading-trim: both; */
    /* text-edge: cap; */

    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
}

.title-bottom {
    color: #FFF;
    font-family: 'Actay', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* leading-trim: both; */
    /* text-edge: cap; */

    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
}

.play-icon-wrapper {
    display: flex;
    width: 88px;
    height: 77px;
    padding: 17px 22px 16px 22px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 500px;
    background: #FFF;
}

.menu-button {
    display: flex;
    padding: 22px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 500px;
}

.popup-title {
    color: #FFF;
    font-family: 'Britanica-HeavySemiExpanded', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* leading-trim: both; */
    /* text-edge: cap; */

    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}

.popup-description {
    color: #FFF;
    font-family: 'Actay', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* leading-trim: both; */
    /* text-edge: cap; */

    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
}

.social-media {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.social-media-item {
    display: flex;
    height: 66px;
    padding: 22px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 17px;
    -webkit-backdrop-filter: blur(11px);
    /* Safari support */
    backdrop-filter: blur(11px);
    /* General support */
    transition: 0.3s linear;
}

.social-media-item:hover {
    background-color: rgba(255, 255, 255, 0.435);
}

.modal {
    transition: 0.3s linear;
}

.modal.modal-open-header {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

.modal.modal-close-header {
    transform: translateY(-420px);
    opacity: 0;
    visibility: hidden;
}

.modal.modal-open {
    transform: translateX(0px);
    opacity: 1;
}

.modal.modal-close {
    transform: translateX(600px);
    opacity: 0;
}

.mobile-top-menu {
    display: flex;
    width: 77px;
    height: 77px;
    padding: 22px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 500px;
    background: rgba(0, 32, 34, 0.17);
    -webkit-backdrop-filter: blur(16.5px);
    /* Safari support */
    backdrop-filter: blur(16.5px);
    /* General support */
}

button {
    outline: none;
}

.copywrite-text {
    color: #FFF;
    font-family: 'Actay', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* leading-trim: both; */
    /* text-edge: cap; */

    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
}

.copywrite-link {
    color: #FFF;
    font-family: 'Actay', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* leading-trim: both; */
    /* text-edge: cap; */

    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    text-decoration-line: underline;
}